.shopPageContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  padding: 0px 40px;
  background-color: rgb(223, 223, 223);
}
.shopPageContent > h1 {
  margin-top: 25px;
  line-height: 2;
  font-weight: bold;
  font-size: 2rem;
}
.shopPageContent p {
  font-size: 1.2rem;
}

.shopPageProductsNavigation {
  display: flex;
  align-items: center;
  gap: 10px;
}
#selectProducts {
  width: auto;
  display: inline-block;
}

/* Products styling */
.shopProducts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 15px;
}
.productCard {
  flex: 1;
  max-width: 400px;
  min-width: 300px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.productImageContainer {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}
.productImage {
  max-width: 100%;
  max-height: 100%;
}
.productCard p {
  text-align: center;
  padding: 5px 0px;
}
.productPrice {
  font-weight: bold;
  margin-bottom: -5px;
}
.productTitle {
  flex: 1;
  margin: 10px 0px;
}

.addingProductsToCart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.howManyItems {
  display: flex;
  align-items: center;
  justify-content: center;
}
.howManyItems > * {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
}

.howManyItems .minusProduct,
.howManyItems .plusProduct {
  border: 2px solid #3498db;
  border-radius: 1px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.howManyItems .minusProduct:hover,
.howManyItems .plusProduct:hover,
.howManyItems .productAddCount:hover {
  border-color: #2980b9;
}

.howManyItems .minusProduct,
.howManyItems .plusProduct {
  height: 35px;
  width: 35px;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: monospace;
}
.howManyItems .productAddCount {
  margin: 0;
  border: 2px solid #3498db;
  border-radius: 1px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: 35px;
  width: 60px;
  border-left: none;
  border-right: none;
}

.addProductToCart {
  margin-top: 25px;
  margin-bottom: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.addProductToCart:hover {
  background-color: #2980b9;
}

.addProductToCart:active {
  background-color: #1c4966;
}
/* Selection style */

#selectProducts {
  background-color: #808080;

  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 8px;
  padding-right: 40px;
  padding-left: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  background-image: url(../../Assets/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: 164px 8px;
}

#selectProducts:hover {
  background-color: rgb(90, 90, 90);
}
/* Page swiching buttons styling */

.linksToOtherPages {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0px 30px 0px;
}
.linksToOtherPages > p {
  font-size: 1.5rem;
}
.linksToOtherPages > button {
  display: inline-block;
  padding: 6px 16px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  transition: background-color 0.3s;
}

.linksToOtherPages > button:hover {
  background-color: #227ab4;
}
