.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.homeContent h1 {
  margin-top: 4%;
  line-height: 2;
  font-weight: bold;
  font-size: 2rem;
}
.homeContent p {
  width: 60%;
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: center;
}
.homeContent button {
  margin-top: 30px;
}

.shopButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.shopButton:hover {
  background-color: #2980b9;
}

.shopButton:active {
  background-color: #1c4966;
}
.shopButton .link {
  text-decoration: none;
}
