/* Navigation Style */
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4d4d4d;
  color: #fff;
  padding: 10px 20px;
}

.navStoreName {
  font-size: 2rem;
}

.navItems {
  width: 50%;
  margin-left: auto;
  margin-right: 20px;
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #fff;
}

.link:hover {
  text-decoration: underline;
}

.navCart {
  filter: invert(100%) sepia(14%) saturate(597%) hue-rotate(172deg)
    brightness(113%) contrast(106%);
}
